.sign-in-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(95, 120, 95) ;
  margin-bottom: 30px;
  padding: 10px 0 10px 0;
}

h5 {
  margin-top: 1em;
}

hr {
  margin-top: 0.5em;
}
